<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Associated Subdomain</title>
</head>
<body>
    <h1>Associated Subdomain</h1>
    <p>Subdomain associated with the link: <%= subdomain %></p>
</body>
</html>
