<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Associated Subdomain</title>
</head>
<body>
    <h1>Check Associated Subdomain</h1>
    <form action="/check" method="post">
        <label for="link">Enter a link:</label><br>
        <input type="text" id="link" name="link"><br><br>
        <input type="submit" value="Check Subdomain">
    </form>
</body>
</html>
