<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Result</title>
</head>
<body>
    <h1>Generated Result</h1>
    <p>Link: <%= link %></p>
    <p>Subdomain URL: <%= subdomainURL %></p>
    <p>Link to Subdomain Map:</p>
    <pre><%= JSON.stringify(linkToSubdomainMap, null, 2) %></pre>
</body>
</html>

