<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subdomain Checker</title>
</head>
<body>
    <h1>Subdomain Checker</h1>
    <form action="/process" method="post">
        <label for="link">Enter a link:</label><br>
        <input type="text" id="link" name="link"><br><br>

        <label for="subdomain">Enter a subdomain:</label><br>
        <input type="text" id="subdomain" name="subdomain"><br><br>

        <input type="submit" value="Generate URL">
    </form>
</body>
</html>
